// Custom.scss
// Option A: Include all of Bootstrap

$primary:       #9575cd;
$secondary:     #90caf9;
$success:       #81c784;
$info:          #64b5f6;
$warning:       #ffd54f;
$danger:        #e57373;
$light:         #fafafa;
$dark:          #424242;


// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
