@import '../index.scss';

$horizontalSpace: 5%;

.Header-container {
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    background-color: $primary;
    padding-left: $horizontalSpace;
    padding-right: $horizontalSpace;
    color: white;
    align-items: center;
    justify-content: center;
}


.Space-top {
    margin-top: $horizontalSpace;
}


.Space-bottom {
    margin-bottom: $horizontalSpace;
}