@import '../index.scss';

.List-container {
    overflow: scroll;
}

.Item-placeholder {
    height: 160px;
    width: 100%;
}

.Margin-top {
    margin-top: 8%;
}

.Margin-bottom {
    margin-bottom: 8%;
}