.Text-center {
    text-align: center;
}

.Text-end {
    text-align: end;
}

.Text-start {
    text-align: start;
}

.Content-center {
    justify-content: center;
}

.Margin-null {
    margin: 0%;
    padding: 0%;
}

.Heading-big {
    font-size: xx-large;
    font-weight: bold;
}

.Heading-medium {
    font-size: x-large;
}

.Heading-small {
    font-size: large;
    font-weight: bold;
}
